h1{
    color: orange;
    background-color: slategray;
    font-size: 20px;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
p{
    color: slategray;
    text-align: justify;
    line-height: 20px;
    letter-spacing: 1px;
    column-count: 3;
    column-gap: 60px;
}
ul{
    /* border-width: 4px;
    border-style: solid;
    border-color: crimson; */
    /* border: 4px solid crimson; */
    border-bottom: 4px solid crimson;
    border-left: 8px dashed skyblue;
    border-top: 8px dotted #ffc0cb;
}
li{
    list-style-type: square;
    text-shadow: 2px 5px #E9E9E9;
}
p.iamclass{
    color: red;
}
div.iamclass.sub{
    color: green;
}
#iamid{
    color: pink;
}
p#iamid{
    color: violet;
}